.divPdfs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.divItemView {
  width: 60%;
  height: 100%;
}
.tagFilteringForm {
  display: flex;
  width: 100px;
}
.tagFilteringFieldSet {
  width: 100px;
  max-width: 100px;
}
.IsPn {
  color: red;
}
.NotPn {
  color: blue;
}
.NotPn:hover {
  text-decoration: underline;
  cursor: pointer;
}
.menu-button {
  padding: 8px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 20px;
}

.menu {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transform: translateY(5px);
  transition: opacity 0.2s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 5rem;
  position: absolute;
  width: 210px;
}
.menu_button {
  width: 100%;
  height: 50%;
}
/* Show menu when button is focused */
.menu-container:focus-within .menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.menu a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
}

.menu a:hover {
  background: #f0f0f0;
}
.pageIndex {
  display: flex;
  justify-content: space-between;
  max-width: 20rem;
}
.MainView {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tagFilter {
}
.TagAdderForm {
}
