.divPdfs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  padding: 10px;
}

.thumbnailPdf {
}
.tagFilteringForm {
  display: flex;
  width: 100px;
}
.tagFilteringFieldSet {
  width: 100px;
  max-width: 100px;
}
